name: "Terraform PR Checks"

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  terraform-pr:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="resource_group_name=rg-digwi-terraform-remote" \
            -backend-config="storage_account_name=stgdigwiterraformstate" \
            -backend-config="container_name=tfstate" \
            -backend-config="key=microtodoui.dev.tfstate" \
            -input=false

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Plan
        run: |
          terraform plan \
            -input=false \
            -no-color \
            -var-file="environments/dev/dev.tfvars" \
            -out=tfplan.binary

          terraform show -no-color tfplan.binary > pr-tfplan.txt
